<!--------------------------------------------------------------------------------------------------- HOME/INDEX.HTML -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
<!------------------------------------------------------------------------ index.css -->
{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}
<div class=index-all>

<!--------------------------------------------------------------------------------------------------- JUMBATRON -->
<div class="jumbotron-container">
  <h1>Welcome to hitech!</h1>
  <h7>We got the best tech for the lowest price!</h7>
  <br><br>
  <a class="btn btn-primary" href="#" role="button"><h7>Shop Now!</h7></a>
</div>
<!--------------------------------------------------------------------------------------------------- PRODUCT CARDS -->
<!------------------------------------------------------------------------ tv -->
  <div class="card-container">
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="card text-center">
          <img src="/media/products/tv/samsung/tv_samsung_s90d.png" alt="TV Image" class="card-img">
          <div class="card-body">
            <h5>Samsung 65-inch</h5>
            <h6>only €2160</h6>
            <a href="http://127.0.0.1:8000/product/29/" class="btn btn-primary"><h7>Buy Now!</h7></a>
          </div>
        </div>
      </div>
  <!------------------------------------------------------------------------ laptops -->
      <div class="col-md-6">
        <div class="card text-center">
          <img src="/media/products/laptops/macbook/laptops_macbook_m3.png" alt="Laptop Image" class="card-img">
          <div class="card-body">
            <h5>MacBook Air M3</h5>
            <h6>€1378</h6>
            <a href="http://127.0.0.1:8000/product/15/" class="btn btn-primary"><h7>Buy Now!</h7></a>
          </div>
        </div>
      </div>
    </div>
  <!------------------------------------------------------------------------ smartphones -->
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="card text-center">
          <img src="/media/products/smartphones/sony-ericsson/smartphones_sony_PRO-I.png" alt="Mobile Image" class="card-img">
          <div class="card-body">
            <h5>Pro-I</h5>
            <h6>€1167</h6>
            <a href="http://127.0.0.1:8000/product/37/" class="btn btn-primary"><h7>Buy Now!</h7></a>
          </div>
        </div>
      </div>
  <!------------------------------------------------------------------------ cameras -->
      <div class="col-md-6">
        <div class="card text-center">
          <img src="/media/products/cameras/alpha/camera__alpha_s7.png" alt="Camera Image" class="card-img">
          <div class="card-body">
            <h5>S Alpha 7</h5>
            <h6>€1340</h6>
            <a href="http://127.0.0.1:8000/product/4/" class="btn btn-primary"><h7>Buy Now!</h7></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------- REVIEWS -->
  <div class="quote-container">
    <h2 class="quote-title">Customer Reviews</h2>
      <div class="row mb-4">
        <div class="col-md-6">
            <div class="quote">
              <div>
                <h4>"Best customer service!"</h4>
                <p class="quote-name">Peter Schmidt, Berlin</p>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="quote">
            <div>
              <h4>"Fast shipping"</h4>
              <p class="quote-name">Mikael Persson, Stockholm</p>
            </div>
          </div>
        </div>
      </div>
    <div class="row mb-4">
      <div class="col-md-6">
          <div class="quote">
            <div>
              <h4>"Neat prices, for good products!"</h4>
              <p class="quote-name">Jan Karlsen, Copenhagen</p>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="quote">
          <div>
            <h4>"Great help finding my new TV!"</h4>
            <p class="quote-name">Laura Param, Barcelona</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------- Newsletter Signup -->
  <div class="newsletter-container">
    <h3 class="newsletter-title ">Sign up for our newsletter!</h3>
      <p class="newsletter-breadtext">Get the latest updates and best prices!</p>
            <!-- Newsletter form here -->
          </div>
        </div>
      </div>

  <!--------------------------------------------------------------------------------------------------- Customer Support Information -->
  <div class="row">
    <div class="col-md-6">
      <h2>Contact Us</h2>
      <!-- Contact information here -->
    </div>
    <div class="col-md-6">
      <!-- social media links here -->
    </div>
  </div>
</div>
{% endblock %}

