<!---------------------------------------------------------------------------  REGISTER.HTML  -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
    {% load crispy_forms_tags %}
{% endblock %}

{% block content %}
    <h1>Register</h1>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <form method="post" class="center-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
