<!--------------------------------------------------------------------------- REGISTER.HTML  -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock %}

{% block content %}
    <h1>Register</h1>

    <div class="container">
        <div class="card">
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post" class="center-form">
                    {% csrf_token %}
                    <!--------------------------------------------------------- Username -->
                    <div class="form-group">
                        <label for="id_username">Username:</label>
                        {{ form.username }}
                    </div>
                    <!--------------------------------------------------------- Password -->
                    <div class="form-group">
                        <label for="id_password">Password:</label>
                        {{ form.password }}
                    </div>
                    <!--------------------------------------------------------- Confirm Password -->
                    <div class="form-group">
                        <label for="id_password2">Confirm Password:</label>
                        {{ form.password2 }}
                    </div>
                    <!--------------------------------------------------------- Email -->
                    <div class="form-group">
                        <label for="id_email">Email:</label>
                        {{ form.email }}
                    </div>
                    <!--------------------------------------------------------- First name -->
                    <div class="form-group">
                        <label for="id_first_name">First name:</label>
                        {{ form.first_name }}
                    </div>
                    <!--------------------------------------------------------- Last name -->
                    <div class="form-group">
                        <label for="id_last_name">Last name:</label>
                        {{ form.last_name }}
                    </div>
                    <!--------------------------------------------------------- Phone number -->
                    <div class="form-group">
                        <label for="id_phone_number">Phone number:</label>
                        {{ form.phone_number }}
                    </div>
                    <!--------------------------------------------------------- Address -->
                    <div class="form-group">
                        <label for="id_address">Address:</label>
                        {{ form.address }}
                    </div>
                    <!--------------------------------------------------------- Country -->
                    <div class="form-group">
                        <label for="id_country">Country:</label>
                        {{ form.country }}
                    </div>
                    <!--------------------------------------------------------- Profile Picture -->
                    <div class="form-group">
                        <label for="id_profile_picture">Profile Picture:</label>
                        {{ form.profile_picture }}
                    </div>
                    <!--------------------------------------------------------- Submit Button -->
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
