/*_________________________________________________________________________ BASE.HTML - EXTENDS TO ALL TEMPLATES */
/*_________________________________________________________________ FONTS */
@font-face {
    font-family: 'TechHeadlines-3Pzp';
    src: url('/static/font/TechHeadlines-3Pzp.ttf') format('truetype')
}


/*_________________________________________________________________ OVERALL */
html {
    background: #020202;
}

body {
    max-width: 1200px;
    margin: 0 auto !important;
    background: linear-gradient(to right, #000000, #2d2c2b);
    border-radius: 2px;
    box-shadow: 0 0 40px rgba(11, 164, 191, 0.87);
}

/*_________________________________________________________________ LOGIN MESSAGE */
#message-container {
    top: 0;
    right: 0;
    z-index: 1000;
}

.alert {
    margin: 10px;
    padding: 10px 15px;
}

.btn-close {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem 0.25rem auto;
}



/*_________________________________________________________________ NAVBAR */
.navbar-brand-a {
    padding-left: 10px;
    font-family: 'TechHeadlines-3Pzp', sans-serif;
    font-size: 30px; /*__________ Brand size */
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(179, 46, 203, 0.92);
}

.navbar-brand-a:hover {
    color: #ffc401;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #ffc401; /*__________ Icon/text hover color */
}

.navbar.navbar-expand-lg .fa-lg {
    font-size: 25px; /*___________ Icon size -> top navbar */
}

.nav-link.dropdown-toggle::after {
    display: none; /*_____________ No dropdown arrow */
}

.dropdown-item { /*_______________ Dropdown text */
    font-family: 'montesarri', sans-serif; 
    font-size: 12px;
}