/*_________________________________________________________________________BASE.HTML - EXTENDS TO ALL TEMPLATES */

/*_____________________________________________________________________OVERALL */
html {
    background: linear-gradient(109.6deg, rgb(28, 28, 28) 40%, rgba(19, 28, 37, 0.96) 51.2%, rgb(0, 0, 0) 98.6%);
}

body {
    max-width: 1200px;
    margin: 0 auto !important;
    background-color: #121212!important;
}

/*________________________________________________________FONTS */
@font-face {
    font-family: 'TechHeadlines-3Pzp'; /*_____________ brand */
    src: url('/static/font/TechHeadlines-3Pzp.ttf') format('truetype');
}

@font-face {
    font-family: 'TechHeadlinesItalic-8D0M'; /*_______ jumbatron */
    src: url('/static/font/TechHeadlinesItalic-8D0M.ttf') format('truetype');
}

@font-face {
    font-family: 'Headlines-SemiBold'; /*_____________ none*/
    src: url('/static/font/Headlines-SemiBold.otf') format('truetype');
}

@font-face {
    font-family: 'JetbrainsMonoBold-51Xez'; /*________ nav + dropdown */
    src: url('/static/font/JetbrainsMonoBold-51Xez.ttf') format('truetype');
}

@font-face {
    font-family: 'JetbrainsMonoItalic-lg91X';
    src: url('/static/font/JetbrainsMonoItalic-lg91X.ttf');
}

/*_____________________________________________________________________NAVBAR */
.navbar-brand-a {
    font-family: 'TechHeadlines-3Pzp', sans-serif;
    font-size: 30px; /*_______________________________ brand size */
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #fff;
}

.navbar-brand-a:hover {
    color: #ffc401;
}

.navbar .nav-link {
    font-family: 'JetbrainsMonoBold-51Xez', sans-serif;
    color: #fff;
}

.navbar .nav-link:hover {
    color: #ffc401; /*______________________________ Icon + font hover color */
}

.navbar.navbar-expand-lg .fa-lg {
    font-size: 25px !important;/*_____________________ icon size - top navbar */
}

.nav-link.dropdown-toggle::after {
    display: none; /*_________________________________ Remove dropdown arrow */
}

.dropdown-item { /*___________________________________ Dropdown Text */
    font-family: 'JetbrainsMonoBold-51Xez', sans-serif; 
    font-size: 12px;
}