/*__________________________________________________________________________________ PRODUCTS/STATIC/CSS/PRODUCT_LIST.CSS */
/*_____________________________________________________________ PRODUCT CARDS */
.card-header {
    background-color: #007bff;
    color: #fff;
}

.card-title {
    color: #333;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body {
    padding: 1rem;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card.mt-4 {
    margin-top: 1.5rem;
}

.card.mt-3 {
    margin-top: 1rem;
}
 
/*_____________________________________________________________ RESPONSIVE COLUMNS */
@media (max-width: 767px) {
    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}
