/*__________________________________________________________________________________ PRODUCTS/STATIC/CSS/PRODUCT_LIST.CSS */
/*_____________________________________________________________ PRODUCT CARDS */

/*__________________________________________________________________________________ PRODUCTS/STATIC/CSS/PRODUCT_LIST.CSS */
/*_____________________________________________________________ PRODUCT CARDS */

.product_list-all {
    margin-left: 20px;
    margin-right: 20px;
}

.title { /* All Products */
    margin-top: 10px;
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #ffc401!important;
}

.category-title {
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    color: #ee6cd0;
}

.subcategory-title {
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    color: #bbd115;
}

.product_list_container {
    margin-left: 10px;
    margin-right: 10px;  
}

.card-body {
    margin-left: 10px;
}

.card-img-top { /* img size in card */
    width: 300px;
    height: 200px; /* Maintain aspect ratio */
}

.card-title {
    font-size: 1rem;
    color: #fff;
}

.card-price {
    font-size: 1rem;
    color: #ffc401;
}

.card {
    background-color: transparent; /* Make background transparent */
}

.card-body .row {
    margin: -30px;
}

.card-body .col-lg-4,
.card-body .col-md-6,
.card-body .col-sm-12 {
    padding: 10px; /* Add padding to columns */
}

/*_____________________________________________________________ RESPONSIVE COLUMNS */
@media (max-width: 767px) {
    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}
