/*________________________________________________________________________ PRODUCT_DETAIL.CSS */

/*_________________________________________________________ FONT FAMILIIES */
@font-face {
    font-family: 'TechHeadlinesItalic-8D0M';
    src: url('/static/font/TechHeadlinesItalic-8D0M.ttf') format('truetype');
}

/*_________________________________________________________ OVERALL */
body {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.product_detail-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h3, h4, h5 {
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h1 { /*_________________ Category */
    margin-top: 20px;
    color: #ffc401;
}

h3 { /*_________________ Subcategory */
    margin-top: 10px;
    color: #ee6cd0;s
}

h4 {  /*_________________ Product name */
    margin-top: 10px;
    color: #bbd115;
}

h5 { /*___________________ Price */
    margin-top: 20px;
    color: #ffc401;
}

h6 { /*___________________ Button */
    font-family:'TechHeadlinesItalic-8D0M','sans-serif';
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

p {
    margin-top: 20px;
    max-width: 600px;
    font-family: 'Montesarri', sans-serif;
    color: #fff;
    font-size: 16px;
    
}

/*_________________________________________________________ CARD */
.card-body {
    margin-top: 20px;
    margin-bottom: 40px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), transparent);
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.product-image img {
    height: 400px;
    width: 600px;
    border-radius: 5px;
}

/*_______________________________________ SHOP NOW - BUTTON */
.btn-primary {
    margin-top: 10px;
    padding-top: 10px;
    background-color: #20815f;
    border-color: #fff;
}

.btn-primary:hover {
    background-color: #ffc401;
    border-color: #fff; 
}

/*_______________________________________ NEXT/PREV - BUTTON */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 40px;
}

.button-container button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 40px;
    transition: color 0.3s;
}

.button-container button:hover {
    color: #ffc401;
}