/*______________________________________________________________ PRODUCTS/STATIC/CSS/PRODUCT_LIST.CSS */
/*________________________________________________ PRODUCT CARDS */
.product_list-all {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    margin-top: 40px;
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #ffc401;
}

.category-title {
    padding-top: 20px;
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    color: #ee6cd0;
}

.subcategory-title {
    padding-bottom: 20px;
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    color: #bbd115;
}

.product_list_container {
    margin-left: 10px;
    margin-right: 10px;
}

.card-body {
    margin-left: 10px;
    border: none;

}

.card-img-top { /*________________ Img size in card */
    width: 300px;
    height: 200px; /*_____________ Maintain aspect ratio */
}

.card-title {
    font-size: 1rem;
    color: #fff;
}

.card-price {
    font-size: 1rem;
    color: #ffc401;
}

.card {
    background-color: transparent;
    border: none!important;
}

.card-body .row {
    margin: -30px;
}

.card-body .col-lg-4,
.card-body .col-md-6,
.card-body .col-sm-12 {
    
}

/*________________________________________________ RESPONSIVE COLUMNS */
@media (max-width: 767px) {
    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}
