/*__________________________________________________________________________________ HITECH/STATIC/CSS/INDEX.CSS */

/*_____________________________________________________________ FONTS */

@font-face {
    font-family: 'TechHeadlinesItalic-8D0M'; /*______ Jumbatron */
    src: url('/static/font/TechHeadlinesItalic-8D0M.ttf') format('truetype');
}

h1 {
    font-family: 'TechHeadlinesItalic-8D0M','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #ffc401!important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h2 { /*______________________________________________ Reviews, Blog, Contact */
    font-family: 'TechHeadlinesItalic-8D0M','sans-serif';
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #ffc401!important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);:/* none */
}

h4 { /*______________________________________________ Customer Reviews */
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 1px;
    color: #ee6cd0;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.89);
}


h5 { /*______________________________________________ Product Card Title */
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h6 { /*______________________________________________ Price font */
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    color: #ffc401!important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h7 { /*______________________________________________ Jumbatron */
    font-family: 'TechHeadlinesItalic-8D0M','sans-serif';
    letter-spacing: 1px;
    color: #eae6e6!important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

p { /*______________________________________________ Product cards + customer names */
    font-family: 'JetbrainsMonoItalic-lg91X'!important;
    color: #fff;
}

.index-all {
    margin-left: 20px;
    margin-right: 20px;
}

/*_____________________________________________________________ JUMBOTRON */
.jumbotron {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px; 
    margin-bottom: 25px;
    border-radius: 5px;
    background-image: url('/media/cover/laptop.avif');
    background-position: center;
}

/*_____________________________________________________________ PRODUCT CARDS */
.card-container {
    margin: 0 auto;
}

.card {
    position: relative;
    transition: transform 0.3s;
    border: none!important;
    padding: 90px; 
} 

.card-img {
    max-width: 100%;
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

.card-body {
    z-index: 1;
    font-family: 'JetbrainsMonoExtrabold-ywLd5', sans-serif;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.5);
}

/*_____________________________________________________________ BUTTONS */
.btn-primary {
    background-color: #20815f!important; /* Primary button color */
    border-color: #fff!important;
}

.btn-primary:hover {
    background-color: #ffc401!important; /* Darker shade on hover */
    border-color: #010101!important; 
}

/*_____________________________________________________________ REVIEWS */
.review-container {
    background-color: rgba(15, 14, 14, 0.58);
    border-radius: 5px;
    padding-bottom: 20px;
}

.h2-title {
    padding-top: 40px;
    padding-left: 40px; 
}

.review {
    padding-top: 40px;
    padding-left: 40px;

}

.name {
    padding-top: 12px;
    padding-left: 10px;
    font-family: 'JetbrainsMonoItalic-lg91X'!important;
}

/*_____________________________________________________________ NEWSLETTER */
.newsletter {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*_____________________________________________________________ BLOG POSTS */
.blog-posts {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*_____________________________________________________________ DEALS */
.deal-of-the-day {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*_____________________________________________________________ SUPPORT */
.contact-info {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}