/*_____________________________________________________________ HOME/INDEX.CSS */
/*_____________________________________________________________ FONTS */
@font-face {
    font-family: 'TechHeadlinesItalic-8D0M';
    src: url('/static/font/TechHeadlinesItalic-8D0M.ttf') format('truetype');
}

@font-face {
    font-family: 'TechHeadlines-3Pzp';
    src: url('/static/font/TechHeadlines-3Pzp.ttf') format('truetype');
}

@font-face {
    font-family: 'QuicksandboldobliqueRegular-XE3o';
    src: url('/static/font/QuicksandboldobliqueRegular-XE3o.otf') format('truetype');
}

/*_____________________________________________________________ HEADERS */
h1 { /*__________________ Big Title */
    color: #ffc401;
    font-family: 'TechHeadlinesItalic-8D0M','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 4px 0px 0px rgb(0, 0, 0);
}

h2 { /*__________________ Small Title */
    color: #ffc401;
    font-family: 'TechHeadlinesItalic-8D0M','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 4px 0px 0px rgb(0, 0, 0);
}

h3 { /*__________________ Nesletter */
    color: #fff;
    font-family: 'TechHeadlinesItalic-8D0M','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 4px 0px 0px rgb(0, 0, 0);
}

h4 { /*__________________ Quotes */
    color: #ee6cd0;
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 1px;
    word-spacing: 2px;
    text-shadow: 4px 0px 0px rgb(0, 0, 0);
}

h5 { /*__________________ Card name */
    color: #fff;
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 4px 0px 0px rgb(0, 0, 0);
}

h6 { /*__________________ Card price */
    color: #ffc401;
    font-family: 'TechHeadlines-3Pzp','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 4px 0px 0px rgb(0, 0, 0);
}

h7 { /*__________________ Jumbatron second text */
    color: #fff;
    font-family: 'TechHeadlinesItalic-8D0M','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 4px 0px 0px rgb(0, 0, 0);
}

h8 { /*__________________ "Buy/Shop now!" Button text */
    color: #fff;
    font-family:'TechHeadlinesItalic-8D0M','sans-serif';
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

p { /*__________________ Quote name */
    color: #fff;
    font-family: 'QuicksandboldobliqueRegular-XE3o','sans-serif';
    font-size: 20px;
}

/*_____________________________________________________________ OVERALL */
.all {
    margin-left: 20px;
    margin-right: 20px;
}

/*_____________________________________________________________ JUMBOTRON */
.jumbotron-container {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    border-radius: 5px;
    background-image: url("/media/jumbatron.avif");
    background-size: cover;
    background-position: center;
}

/*_____________________________________________________________ CARDS */
.card-container {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.card {
    position: relative;
    transition: transform 0.3s;
    border: none!important;
    padding: 90px; 
} 

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-body {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 2px rgb(255, 255, 255);
}

/*_____________________________________________________________ BUTTONS */
.btn-primary {
    background-color: #20815f;
    border-color: #fff;
}

.btn-primary:hover {
    background-color: #ffc401;
    border-color: #fff; 
}

/*_____________________________________________________________ QUOTES */
.quote-container {
    margin-top: 25px;
    border-radius: 5px;
    background-color: rgba(15, 14, 14, 0.58);
    padding-bottom: 20px;
}

.quote-title {
    padding-top: 40px;
    padding-left: 40px; 
}

.quote {
    padding-top: 40px;
    padding-left: 40px;
}

.quote-name {
    padding-top: 12px;
    padding-left: 10px;
}