{% extends 'base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}

{% block content %}
    <h1>All Products</h1>
    {% for category, subcategories in category_subcategories.items %}
        <h2>{{ category.name }}</h2>
        {% for subcategory, products in subcategories.items %}
            <h3>{{ subcategory.name }}</h3>
            <div class="card-body">
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <div class="card">
                                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-img">
                                <h5>{{ product.title }}</h5>
                                <h6>€{{ product.price }}</h6>
                                <h7><a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Buy Now!</a></h7>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}