<!---------------------------------------------------------------------------  PRODUCTS/PRODUCT_DETAIL.HTML  -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail: {{ product.title }}{% endblock %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="product_detail-all">
        <h1>{{ product.subcategory.category.name }}</h1>
        <h3>{{ product.subcategory.name }}</h3>
        <h4>{{ product.name }}</h4>
        <div class="card-body">
            <div class="product-image">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
            </div>
            <h5>Only €{{ product.price }}!</h5>
            <h6><a href="#" class="btn btn-primary">Buy Now!</a></h6>
            <p>{{ product.description }}</p>
        </div>
        <div class="button-container">
            <button id="prevButton" {% if not prev_product_url %}disabled{% endif %}><i class="fas fa-arrow-left"></i></button>
            <button id="nextButton" {% if not next_product_url %}disabled{% endif %}><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>

    <script>
        var nextProductUrl = "{{ next_product_url }}";
        var prevProductUrl = "{{ prev_product_url }}";

        function goToNextProduct() {
            window.location.href = nextProductUrl;
        }

        function goToPrevProduct() {
            window.location.href = prevProductUrl;
        }

        document.getElementById("nextButton").addEventListener("click", goToNextProduct);
        document.getElementById("prevButton").addEventListener("click", goToPrevProduct);
    </script>

{% endblock %}
