{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}

{% block content %}
    <h1>Products</h1>

    <div class="product_list_container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default</option>
                <option>Category</option>
                <option>Price</option>
                <option>Rating</option>
                <option>Sale</option>
            </select>
        </div>

        <div class="row">
            {% for category, products in category_products.items %}
                <h3>{{ category }}</h3>
                <div class="row">
                    {% for product in products %}
                        <div class="col-4">
                            <div class="#">
                                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img">
                                <p>{{ product.title }}</p>
                                <p>{{ product.price }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
