<!---------------------------------------------------------------------------  PRODUCTS/PRODUCT_DETAIL.HTML  -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail: {{ product.title }}{% endblock %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="product_detail-all">
        <h2>{{ product.subcategory.category.name }}</h2>
        <h3>{{ product.subcategory.name }}</h3>
            <h4>{{ product.title }}</h4>
            <div class="card-body">
            <div class="product-image">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
            </div>
            <h6>{{ product.price }}</h6>
            <a href="#" class="btn btn-primary"><h7>Buy Now!</h7></a>
            <p>{{ product.description }}</p>
            
        </div>
    </div>
{% endblock %}